@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* Bara de navigare, cat de aproape sa o punem de text*/
/* Navugation */
.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    margin-bottom: 50px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    margin-top: -20px;
    margin-right: -20px;
    margin-left: -20px;
}
.navbar-brand img {
    height: 3rem;
    padding: 0px !important;
    background-position: left;
    padding: 0px;
    margin-left: 30px;
    align-items: center;
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
/* Sfarsit Navigation */

/* CONTENT */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
#content h6 {
    text-align: center;
    font-size: small;
    margin-right: 150px;
}
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
#content h6 {
    text-align: center;
    font-size: small;
    margin-right: 150px;
}
.card {
    margin-bottom: 40px;
}
.card-text {
    text-align: left;
}
/* Sfarsit Content */

/* SIDEBAR */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 5px;
    font-size: 1rem;
    display: block;
}

#sidebar ul li a {
    padding: 5px;
    font-size: 1rem;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
/* MEDIAQUERIES */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* SCROLL INDICATOR */
.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
    position: fixed;
}
.progress-bar {
    height: 8px;
    background: blue;
    width: 0%;
}
#myBar{
    position: fixed;
}
/*Sfarsit SCROLL INDICATOR*/

/*Footer*/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}
#footer {
    color: black;
    background: lightblue !important;
}
#footer h6 {
margin-left: 10px;
margin-bottom: 10px;
}
#footer h6 h6 {
margin-top: 5px;
}
/*Sfarsit Footer*/


