body {
overflow-x: hidden;
font-family: 'Montserrat', sans-serif;
color: #616971;
scroll-behavior: smooth;
}
/* SCROLL INDICATOR */
.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
    position: fixed;
}
.progress-bar {
    height: 8px;
    background: blue;
    width: 0%;
}
#myBar{
    position: fixed;
}
/* PRELOADER */
.loader_bg {
    position: fixed;
    z-index: 999999;
    background: white;
    width: 100%;
    height: 100%;
}
.poza {
    margin: auto;
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
}
.loader:before, .loader:after {
    content: '';
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 1.5s linear infinite;
    opacity: 0;
}
.loader:before {
    animation: .5s;
    }
    @keyframes loader{
    0% {
    transform: scale(0);
    opacity: 0;
    }
    50% {
    opacity: 1;
    }
    100% {
    transform: scale(1);
    opacity: 0;    
    }
}
/* Top Bar (avand in vedere ca este  clasa o declaram in css cu .clasa{}*/
    .top-bar { 
    background: #7aaec4;
    height: 2.8rem; /*1rem=16px*/
    padding: 0.5rem 0;
    }
    .top-bar a { 
    color: white; /*culoarea textului*/
    text-decoration: none; /*stergem linia care sublinia "University Library"*/
    font-size: 1.1rem; /* dimensiunea textului "University Library"*/
}
/* Navigation */
.navbar-brand img {
    height: 3rem;
    padding: 0px !important;
    background-position: left;
    padding: 0px;
}
.navbar {
    font-size: 1.10rem;
    font-weight: 500;
    letter-spacing: .1rem;
    box-shadow: 0 .5rem .5rem rgb(0,0,0,.1);
    z-index: 1;
}
.nav-item {
    padding: .2rem;
}
.nav-link {
    color: #5b5555!important;
}
.nav-link.active {
color: #4981b3
}
.nav-link:hover {
    color: #5b5555!important;
}
/* Sfarsit Navigation */

/* Carousel */ 
#carousel {
    box-shadow: 0 1rem 1rem rgb(0,0,0,.1);
}
.carousel-inner {
max-height: 45rem!important;
}

/* DESIGN POZE TESTIMONIALE */

.container-fluid {
    margin-top: 10%;
} 
.card {
    position: relative;
    overflow: hidden;
} 
.card::before{
    position: absolute;
    content: '';
    width: 80%;
    height: 220%;
    background: #2095CD;
    top: -50%;
    left: -100%;
    z-index: 1;
    transform: rotate(25deg);
    transform-origin: center top 0;
    transition: .5s;
}
.card:hover:before {
    left: -10%;
}
.card img {
    width: 100%;
    height: auto;
}
.card-text {
    width: 100%;
    padding: 0 20px;
    position: absolute;
    top: -100%;
    color: white;
    left: 0;
    z-index: 2;
    transition: 1.1s;
}
.card:hover .card-text {
    top: 80px;
} 

/* INFORMATII UNIVERSITATE */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color:lightblue;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
.clasa {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%; 
}
.clasa::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid blue;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
.left {
    left: 0;
}
.right {
    left:50%
}
.right::after {
    left: -12px;
}
.left::after {
    right: -12px;
}
.clasa {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}  
/* SFARSIT INFORMATII UNIVERSITATE */

/* FOOTER */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: lightblue;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: lightblue !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}
/*Sfarsit Footer*/



@media(max-width: 1199.98px) {
    
}
/*pentru telefoane cat de mult putem micsora pagina*/
@media(max-width: 767.98px) {
    .timeline::after {
        left: 31px;
        }
    .clasa {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
        }
    .clasa::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
        }
        .left::after, .right::after {
            left: 15px;
            }
        .right {
            left: 0%;
            }

            #footer h5 {
                padding-left: 0;
                border-left: transparent;
                padding-bottom: 0px;
                margin-bottom: 10px;
            }
}




/*Bootstrp mobile (marginile de la telefon o sa aibe 0px in stanga si in dreapta */
.row, .container-fluid {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

/* Imaginea sa fie fixa cand suntem pe telefon */
.fixed-background {
    position: relative;
    width: 100%;
    z-index: 1000!important;
}
.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -999 !important;
}
.fixed {
    z-index: -999!important;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    will-change: transform;
}